<div class="input-group">
  <input
    [attr.data-test]="id"
    [id]="id"
    [ngClass]="{ 'is-invalid': isInvalid }"
    [type]="passwordFieldType"
    [placeholder]="placeholder"
    [attr.aria-describedby]="ariaDescribedBy"
    [attr.aria-invalid]="ariaInvalid"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event)"
    (blur)="onInputBlur()"
    class="form-control"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
    </button>
  </div>
</div>
