<div class="container auth-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 auth-form">
      <h3>Forgot Password</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete=off data-test="forgot-password-form">
        <div class="input-group mb-3">
          <input formControlName="email"
                 class="form-control"
                 id="email"
                 data-test="email"
                 [ngClass]="{ 'is-invalid': submitted && cf['email'].errors }" type="text"
                 [ngStyle]="(browserDetect.isFirefox()) ? {'padding-left': '0px'}: {}"
                 placeholder="Your E-mail *"
                 value=""/>
        </div>
        <div data-test="email-error" *ngIf="email.invalid && submitted"
             class="alert alert-danger">
          <div *ngIf="email.errors?.required">
            E-mail is required.
          </div>
          <div *ngIf="email.errors?.['pattern']">
            E-mail format is invalid
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="submit" class="btnSubmit"
                 [ngStyle]="{
                    'width': browserDetect.isFirefox() ? 'unset' : null,
                    'font-family': (browserDetect.isEdge()) ? 'Comic Sans' : null
                  }"
                 data-test="forgot-password-submit" value="Set New Password"/>
        </div>
        <div *ngIf="isUpdated && !hideAlert" [ngClass]="fadeOutMessage()" class="alert alert-success mt-3"
             role="alert">
          Your password is <strong>successfully</strong> updated!
        </div>
        <div *ngIf="error && !hideAlert" [ngClass]="fadeOutMessage()" class="alert alert-danger mt-3"
             role="alert">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
