/* Sprint 2 - Header with grayscale colors */
/* No animation yet, but better structure */

.st0 { fill: #808080; }  /* Gray instead of green */
.st1 { fill: #FFFFFF; }
.st2 { fill: #999999; }  /* Gray instead of light green */
.st3 { fill: #555555; }  /* Gray instead of blue */
.st4 { fill: #5A585D; }

/* No gear animation in Sprint 2 */
.gear {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #6c757d;
}

#lblCartCount {
  font-size: 10px;
  color: #fff;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -5px;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  right: 100%;
  top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.accordion > ul {
  display: none;
}

.accordion:hover ul {
  display: block;
}
