<div class="row">
  <a href="#" routerLink="/admin/messages" class="mx-3 mt-3 link-secondary" data-test="back">Back</a>
</div>
<div class="row mt-3">
  <div class="col-sm-12">

    <div class="card bg-secondary text-white mb-3">
      <div
        class="card-header">{{ (message?.user) ? message?.user?.first_name + ' ' + message?.user?.last_name : message?.name }}
        | Subject: {{ message?.subject }} | <span class="badge rounded-pill"
                                                  [ngClass]="{'bg-info': message?.status === 'NEW', 'bg-warning': message?.status === 'IN_PROGRESS', 'bg-success': message?.status === 'RESOLVED'}">{{ message?.status }}</span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ message?.message }}</p>
      </div>
      <div class="card-footer">
        <form [formGroup]="statusForm">
          <select id="status" data-test="status" formControlName="status" class="form-select-sm me-3"
                  (ngModelChange)="statusUpdate()">
            @for (status of statuses;track status) {
              <option [disabled]="messageState[status] <= messageState[message?.status]"
                      value="{{status}}">{{ status }}
              </option>
            }
          </select><small>{{ message?.created_at }}@if (message?.email) {
          <span> | {{ message?.email }}</span>
        }</small>
        </form>
      </div>

    </div>

    <h2>Replies</h2>
    @for (reply of message?.replies;track reply) {
      <div class="card bg-light text-black mb-3">
        <div class="card-header">{{ reply.user.first_name }} {{ reply.user.last_name }} | {{ reply.created_at }}</div>
        <div class="card-body">
          <p class="card-text">{{ reply.message }}</p>
        </div>
      </div>
    }

    <div class="card bg-light text-black mb-3">
      <div class="card-header">Add Reply</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <textarea class="form-control" formControlName="message" data-test="message" id="message" rows="5"></textarea>
          <button type="submit" class="btn btn-primary mt-2" data-test="reply-submit">Reply</button>
        </form>
      </div>
    </div>
  </div>
</div>
