@if (results) {
  <div class="col" *transloco="let t">
    <h1 data-test="page-title">{{ t('pages.rentals.title') }}</h1>
    @for (result of results.data;track result;let i = $index) {
      <div class="card mb-3">
        <div attr.data-test="product-{{result.id}}" routerLink="/product/{{result.id}}" class="row no-gutters">
          <div class="col-lg-3 text-center">
            <img src="assets/img/products/{{result.product_image.file_name}}" class="img-fluid"
                 [ngClass]="i % 2 ? 'rounded-end' : 'rounded-start'" title="{{result.name}}" alt="{{result.name}}">
          </div>
          <div class="col-lg-9" [ngClass]="{ 'order-md-first': i % 2}">
            <div class="card-body">
              <h5 class="card-title">{{ result.name }}</h5>
              <p class="card-text">{{ result.description }}</p>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
