<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      @if (isAddMode) {
        <h2 data-test="page-title">Add Category</h2>
      }
      @if (!isAddMode) {
        <h2 data-test="page-title">Edit Category</h2>
      }
    </div>
    <div class="row">
      <div class="col-lg-6">
        @if (!isAddMode) {
          <div class="row mb-3">
            <label for="id" class="col-sm-3 col-form-label">Id</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="id" id="id" data-test="id" readonly>
            </div>
          </div>
        }
        <div class="row mb-3">
          <label for="parent_id" class="col-sm-3 col-form-label">Parent Id</label>
          <div class="col-sm-9">
            <select class="form-select" formControlName="parent_id" id="parent_id" data-test="parent-id">
              <option value="" selected></option>
              @for (category of categories;track category) {
                <option value="{{category.id}}">{{ category.name }}</option>
              }
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="name" id="name" data-test="name">
          </div>
          @if (submitted && f['name'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['name'].errors['required']) {
                <div>Name is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="slug" class="col-sm-3 col-form-label">Slug</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="slug" id="slug" data-test="slug">
          </div>
          @if (submitted && f['slug'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['slug'].errors['required']) {
                <div>Slug is required</div>
              }
              @if (f['slug'].errors['pattern']) {
                <div>Slug cannot contain spaces</div>
              }
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary" data-test="category-submit">Save</button>
        <a href="#" routerLink="/admin/categories" class="mx-3 link-secondary" data-test="back">Back</a>
        @if (isUpdated && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-success mt-3"
               role="alert">
            Category saved!
          </div>
        }
        @if (error && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-danger mt-3"
               role="alert">
            {{ error }}
          </div>
        }
      </div>
    </div>
  </form>
</div>
