@if (cart) {
  <div *transloco="let t">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-5" scope="col">{{t('pages.checkout.cart.item-header')}}</th>
        <th class="col-md-2" scope="col">{{t('pages.checkout.cart.quantity-header')}}</th>
        <th class="col-md-2 text-end" scope="col">{{t('pages.checkout.cart.price-header')}}</th>
        <th class="col-md-2 text-end" scope="col">{{t('pages.checkout.cart.total')}}</th>
        <th class="col-md-1" scope="col"></th>
      </tr>
      </thead>
      <tbody>
        @for (item of cart.cart_items; track item) {
          <tr>
            <td class="col-md-4"><span
              class="product-title">{{ item.product.name }}&nbsp;@if (item.discount_percentage) {
              <span

                class="badge rounded-pill bg-warning me-1">-{{ item.discount_percentage }}%</span>
            }</span><br>@if (item.product.is_rental) {
              <small
              >{{t('pages.checkout.cart.rental-explainer')}}</small>
            }</td>
            <td class="col-md-2 align-middle">
              <label for="quantity-{{item.id}}" class="visually-hidden">Quantity for {{item.product.name}}</label>
              <input type="number" id="quantity-{{item.id}}" min="1" max="99" class="form-control quantity"
                     (change)="updateQuantity($event, item)"
                     [value]="item.quantity">
            </td>

            <td class="col-md-2 text-end"><span
              [ngClass]="{'discounted' : item.discounted_price}">${{ item.product.price | number: '1.2-2' }}</span>@if (item.discounted_price) {
              <br
              />
            }
              @if (item.discounted_price) {
                <span
                  data-test="offer-price">$<span
                  id="discount-price">{{ item.discounted_price }}</span></span>
              }</td>
            <td class="col-md-2 text-end"><span
              [ngClass]="{'discounted' : item.discounted_price}">${{ item.quantity * item.product.price | number: '1.2-2' }}</span>@if (item.discounted_price) {
              <br
              />
            }
              @if (item.discounted_price) {
                <span
                  data-test="offer-price">$<span
                  id="discount-total-price">{{ item.quantity * item.discounted_price | number: '1.2-2' }}</span></span>
              }</td>
            <td class="col-md-1 align-middle"><a class="btn btn-danger" (click)="delete(item.product_id)"><i
              class="fa fa-remove"></i></a></td>
          </tr>
        }
        @if (cart.additional_discount_percentage) {
          <tr>
            <td class="col-md-5"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2 text-end"><strong>{{t('pages.checkout.cart.subtotal')}}</strong></td>
            <td class="col-md-2 text-end">${{ subtotal | number: '1.2-2' }}</td>
            <td class="col-md-1"></td>
          </tr>
          <tr>
            <td class="col-md-5"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2 text-end"><strong>{{t('pages.checkout.cart.discount')}} ({{cart.additional_discount_percentage}}%)</strong></td>
            <td class="col-md-2 text-end">- ${{ discount | number: '1.2-2' }}</td>
            <td class="col-md-1"></td>
          </tr>
        }
      </tbody>
      <tfoot>
      <tr>
        <td class="col-md-5"></td>
        <td class="col-md-2"></td>
        <td class="col-md-2 text-end"><strong>{{t('pages.checkout.cart.total')}}</strong></td>
        <td class="col-md-2 text-end">${{ total | number: '1.2-2' }}</td>
        <td class="col-md-1"></td>
      </tr>
      </tfoot>
    </table>
    @if (cart.cart_items.length) {
      <div class="float-end">
        <button data-test="proceed-1" type="button" class="btn btn-success" awNextStep>{{t('pages.checkout.btn')}}</button>
      </div>
    }
  </div>
} @else {
  <p *transloco="let t">{{t('pages.checkout.cart.empty')}}</p>
}
