<h1 data-test="page-title">My account</h1>

<p>Here you can manage your profile, favorites and orders.</p>

<div class="btn-group-vertical">
  <a routerLink="favorites" data-test="nav-favorites" role="button"
     class="btn btn-outline-secondary d-flex justify-content-start align-items-center"><i class="fa fa-star"></i>&nbsp;Favorites</a>
  <a routerLink="profile" data-test="nav-profile" role="button"
     class="btn btn-outline-secondary d-flex justify-content-start align-items-center"><i
    class="fa fa-address-card"></i>&nbsp;Profile</a>
  <a routerLink="invoices" data-test="nav-invoices" role="button"
     class="btn btn-outline-secondary d-flex justify-content-start align-items-center"><i class="fa fa-list"></i>&nbsp;Invoices</a>
  <a routerLink="messages" data-test="nav-messages" role="button"
     class="btn btn-outline-secondary d-flex justify-content-start align-items-center"><i
    class="fa fa-comment-dots"></i>&nbsp;Messages</a>
</div>
