<div *ngIf="product" class="row my-3" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-6">
    <figure class="figure">
      <div class="card-img-wrapper">
        <img src="assets/img/products/{{product.product_image.file_name}}" class="figure-img img-fluid"
             alt="A generic square placeholder image with rounded corners in a figure.">
      </div>
      <figcaption class="figure-caption">Photo by <a target="_blank"
                                                     href="{{product.product_image.by_url}}">{{product.product_image.by_name}}</a>
        on <a target="_blank"
              href="{{product.product_image.source_url}}">{{product.product_image.source_name}}</a>.
      </figcaption>
    </figure>
  </div>
  <div class="col-md-6">
    <h1 data-test="product-name">{{product.name}}</h1>
    <p><span aria-label="category" class="badge rounded-pill bg-secondary me-1">{{product.category.name}}</span><span
      aria-label="brand" class="badge rounded-pill bg-secondary me-1">{{product.brand.name}}
    </span><span *ngIf="product.discount_price"
                 class="badge rounded-pill bg-danger me-1">-{{discount_percentage}}%</span></p>
    <span [ngClass]="{'discounted' : product.discount_price}">$<span
      aria-label="unit-price" data-test="unit-price">{{product.price.toFixed(2)}}</span></span>
    <span *ngIf="product.discount_price" data-test="offer-price"
          class="ms-1">$<span id="discount-price">{{product.discount_price}}</span></span>
    <p data-test="product-description" id="description">
      {{product.description}}</p>
  </div>
</div>

<hr/>

<div class="row">
  <h1>Related products</h1>
  <div class="col">
    <div class="container">
      <a routerLink="/product/{{item.id}}" *ngFor="let item of relatedProducts" class="card"
         style="text-decoration: none; color: black;">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="assets/img/products/{{item.product_image.file_name}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{item.name}}
          </h5>
          <a href="#" large>More information</a>
        </div>

      </a>
    </div>
  </div>
</div>
