/* Sprint 3 - Header with brand colors */
/* Blue brand color introduced, no gear animation yet */

.st0 { fill: #8DC12F; }  /* Green accent */
.st1 { fill: #FFFFFF; }
.st2 { fill: #9DC83D; }
.st3 { fill: #1D6098; }  /* Brand blue */
.st4 { fill: #5A585D; }

/* No gear animation in Sprint 3 */
.gear {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
  font-size: 10px;
  color: #fff;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -5px;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  right: 100%;
  top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.accordion > ul {
  display: none;
}

.accordion:hover ul {
  display: block;
}
