/* Sprint 3 - Product detail with brand colors */
/* No image zoom effects yet */

.quantity {
  width: 125px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.card-img-top {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.figure {
  float: right;
}

.card-img-wrapper {
  overflow: hidden;
}

.discounted {
  text-decoration: line-through;
  font-style: italic;
  color: #dc3545;
  font-size: 80%;
}

.reduce-margin {
  margin-left: -50px !important;
}

.center {
  text-align: center !important;
}
