<div class="container auth-container" *transloco="let t">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 auth-form">
      <h3>{{ t('pages.forgot-password.title') }}</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete=off data-test="forgot-password-form">
        <div class="input-group mb-3">
          <input formControlName="email"
                 class="form-control"
                 id="email"
                 data-test="email"
                 [ngClass]="{ 'is-invalid': submitted && cf['email'].errors }" type="text"
                 placeholder="{{ t('fields.email.placeholder') }} *"
                 value=""/>
        </div>
        @if (email.invalid && submitted) {
          <div data-test="email-error"
               class="alert alert-danger">
            @if (email.errors?.required) {
              <div>
                {{ t('fields.email.errors.required') }}
              </div>
            }
            @if (email.errors?.['email']) {
              <div>
                {{ t('fields.email.errors.format') }}
              </div>
            }
          </div>
        }
        <div class="input-group mb-3">
          <input type="submit" class="btnSubmit" data-test="forgot-password-submit"
                 value="{{ t('pages.forgot-password.btn') }}"/>
        </div>
        @if (isUpdated && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-success mt-3"
               role="alert" [innerHTML]="t('page.forgot-password.confirm')" ]>
          </div>
        }
        @if (error && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-danger mt-3"
               role="alert" style="white-space:pre-wrap">{{ error }}
          </div>
        }
      </form>
    </div>
  </div>
</div>
