<div class="container auth-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 auth-form">
      <h3>Forgot Password</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete=off data-test="forgot-password-form">
        <div class="input-group mb-3">
          <input formControlName="email"
                 class="form-control"
                 id="email"
                 data-test="email"
                 [ngClass]="{ 'is-invalid': submitted && cf['email'].errors }" type="text"
                 placeholder="Your E-mail *"
                 value=""/>
        </div>
        @if (email.invalid && submitted) {
          <div data-test="email-error"
               class="alert alert-danger">
            @if (email.errors?.required) {
              <div>
                E-mail is required.
              </div>
            }
            @if (email.errors?.['pattern']) {
              <div>
                E-mail format is invalid
              </div>
            }
          </div>
        }
        <div class="input-group mb-3">
          <input type="submit" class="btnSubmit" data-test="forgot-password-submit" value="Set New Password"/>
        </div>
        @if (isUpdated && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-success mt-3"
               role="alert">
            Your password is <strong>successfully</strong> updated!
          </div>
        }
        @if (error && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-danger mt-3"
               role="alert" style="white-space:pre-wrap">{{ error }}
          </div>
        }
      </form>
    </div>
  </div>
</div>
