<div class="container-fluid text-center bg-light p-5 mt-4" *transloco="let t">
  <p>{{ t('footer.demo-app') }} (<a target="_blank" href="https://github.com/testsmith-io/practice-software-testing">GitHub
    repo</a>), {{ t('footer.demo-purpose') }} | <a href="https://testwithroy.com/b/support" target="_blank">Support this project</a> | <a routerLink="privacy">Privacy Policy</a> | Banner photo
    by <a target="_blank" href="https://unsplash.com/@barnimages">Barn Images</a> on <a target="_blank" href="https://unsplash.com/photos/t5YUoHW6zRo">Unsplash</a>.
  </p>
</div>
