<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      @if (isAddMode) {
        <h2 data-test="page-title">Add User</h2>
      }
      @if (!isAddMode) {
        <h2 data-test="page-title">Edit User</h2>
      }
    </div>
    <div class="row">
      <div class="col-lg-6">
        @if (!isAddMode) {
          <div class="row mb-3">
            <label for="id" class="col-sm-3 col-form-label">Id</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="id" data-test="id" id="id" readonly>
            </div>
          </div>
        }
        <div class="row mb-3">
          <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="first_name" data-test="first-name" id="firstname">
          </div>
          @if (submitted && f['first_name'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['first_name'].errors['required']) {
                <div>First Name is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="last_name" data-test="last-name" id="lastname">
          </div>
          @if (submitted && f['last_name'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['last_name'].errors['required']) {
                <div>Last Name is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="dob" class="col-sm-3 col-form-label">Date of birth</label>
          <div class="col-sm-9">
            <input formControlName="dob"
                   data-test="dob"
                   id="dob"
                   class="form-control"
                   type="date"
                   [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
                   placeholder="Your Date of birth *"
                   value=""/>
          </div>
          @if (submitted && f['dob'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['dob'].errors['required']) {
                <div>Date of birth is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="address" class="col-sm-3 col-form-label">Address</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="address" data-test="address" id="address">
          </div>
          @if (submitted && f['address'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['address'].errors['required']) {
                <div>Address is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="postcode" class="col-sm-3 col-form-label">Postal code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="postcode" data-test="postcode" id="postcode">
          </div>
          @if (submitted && f['postcode'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['postcode'].errors['required']) {
                <div>Postcode is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="city" class="col-sm-3 col-form-label">City</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="city" data-test="city" id="city">
          </div>
          @if (submitted && f['city'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['city'].errors['required']) {
                <div>City is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="state" class="col-sm-3 col-form-label">State</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="state" data-test="state" id="state">
          </div>
          @if (submitted && f['state'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['state'].errors['required']) {
                <div>State is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="country" class="col-sm-3 col-form-label">Country</label>
          <div class="col-sm-9">
            <select id="country" data-test="country" formControlName="country"
                    [ngClass]="{ 'is-invalid': submitted && f['country'].errors }" class="form-select">
              <option value="" disabled selected hidden>Select your country *</option>
              @for (country of countries;track country) {
                <option value="{{country.code}}">{{ country.name }}</option>
              }
            </select>
          </div>
          @if (submitted && f['country'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['country'].errors['required']) {
                <div>Country is required</div>
              }
            </div>
          }
        </div>

        <div class="row mb-3">
          <label for="phone" class="col-sm-3 col-form-label">Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="phone" data-test="phone" id="phone">
          </div>
          @if (submitted && f['phone'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['phone'].errors['required']) {
                <div>Phone is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" formControlName="email" data-test="email" id="email">
          </div>
          @if (submitted && f['email'].errors) {
            <div class="alert alert-danger mt-3 p-2" role="alert">
              @if (f['email'].errors['required']) {
                <div>Email is required</div>
              }
            </div>
          }
        </div>
        <div class="row mb-3">
          <label for="enabled" class="col-sm-3 col-form-label">Enabled</label>
          <div class="col-sm-9">
            <input class="form-check-input d-block" formControlName="enabled" type="checkbox"
                   [checked]="false"
                   data-test="enabled"
                   id="enabled">
          </div>
        </div>
        <div class="row mb-3">
          <label for="failed_login_attempts" class="col-sm-3 col-form-label">Failed login attempts</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="failed_login_attempts"
                   data-test="failed_login_attempts" id="failed_login_attempts">
          </div>
        </div>
        @if (isAddMode) {
          <div class="row mb-3">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="password" data-test="password" id="password">
            </div>
            @if (submitted && f['password'].errors) {
              <div class="alert alert-danger mt-3 p-2" role="alert">
                @if (f['password'].errors['required']) {
                  <div>Password is required</div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary" data-test="user-submit">Save</button>
        <a href="#" routerLink="/admin/users" class="mx-3 link-secondary" data-test="back">Back</a>
        @if (isUpdated && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-success mt-3"
               role="alert">
            User saved!
          </div>
        }
        @if (error && !hideAlert) {
          <div [ngClass]="fadeOutMessage()" class="alert alert-danger mt-3"
               role="alert">
            {{ error }}
          </div>
        }
      </div>
    </div>
  </form>
</div>
