<h1 data-test="page-title" *transloco="let t">{{ t('pages.my-account.messages.title') }}</h1>
@if (!results?.data?.length) {
  <div *transloco="let t">
    <div [innerHTML]="noMessagesHtml" (click)="handleLinkClick($event)"></div>
  </div>
}
@if (results?.data.length) {
  <table class="table table-hover" *transloco="let t">
    <thead>
    <tr>
      <th scope="col">{{ t('pages.my-account.messages.subject') }}</th>
      <th scope="col">{{ t('pages.my-account.messages.message') }}</th>
      <th scope="col">{{ t('pages.my-account.messages.status') }}</th>
      <th scope="col">{{ t('pages.my-account.messages.date') }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (item of results.data;track item) {
        <tr>
          <td>{{ item.subject }}</td>
          <td>{{ item.message | truncate: 50 }}</td>
          <td><span class="badge rounded-pill"
                    [ngClass]="{'bg-info': item.status === 'NEW', 'bg-warning': item.status === 'IN_PROGRESS', 'bg-success': item.status === 'RESOLVED'}">{{ item.status }}</span>
          </td>
          <td>{{ item.created_at }}</td>
          <td style="white-space: nowrap">
            <a routerLink="{{item.id}}" class="btn btn-sm btn-primary mr-1">{{ t('pages.my-account.messages.details') }}</a>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
    <app-pagination [currentPage]="currentPage" [lastPage]="results.last_page"
                    (pageChange)="onPageChange($event)"></app-pagination>
    </tfoot>
  </table>
}
