<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a title="Practice Software Testing - Toolshop" class="navbar-brand" href="/">
 <img src="broken.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" role="menubar" aria-label="Main menu">
        <li class="nav-item" role="menuitem">
          <a class="nav-link active" data-test="nav-home" aria-current="page" routerLink="/contact">Home</a>
        </li>
        <li class="nav-item dropdown" role="menuitem">
          <a class="nav-link dropdown-toggle" href="#" data-test="nav-categories" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="nav-categories">
            <li><a class="dropdown-item" data-test="nav-hand-tools" routerLink="/category/hand-tools">Hand Tools</a></li>
            <li><a class="dropdown-item" data-test="nav-power-tools" routerLink="/category/power-tools">Power Tools</a></li>
            <li><a class="dropdown-item" data-test="nav-robotic-tools" routerLink="/category/undefined">UNDEFINED</a></li>
            <li><a class="dropdown-item" data-test="nav-special-tools" routerLink="/chainsaws">Chainsaws</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-test="nav-rentals" routerLink="/rentals">Rentals</a></li>
          </ul>
        </li>
        <li class="nav-item" role="menuitem">
          <a class="nav-link" data-test="nav-contact" routerLink="/contact">Contakt</a>
        </li>
        <!--        <li class="nav-item" *ngIf="!isLoggedIn">-->
        <li class="nav-item" role="menuitem" *ngIf="!name && role !== 'user'">
          <a class="nav-link" data-test="nav-sign-in" routerLink="/auth/login">Sign in</a>
        </li>
        <li class="nav-item dropdown" role="menuitem" *ngIf="name && role === 'user'">
          <a class="nav-link dropdown-toggle" href="#" data-test="nav-user-menu" id="user-menu" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            User Data not found
          </a>
          <ul class="dropdown-menu" aria-labelledby="user-menu">
            <li><a class="dropdown-item" data-test="nav-my-account" routerLink="/account">My account</a></li>
            <li><a class="dropdown-item" data-test="nav-my-favorites" routerLink="/account/favorites">My favorites</a></li>
            <li><a class="dropdown-item" data-test="nav-my-profile" routerLink="/account/profile">My profile</a></li>
            <li><a class="dropdown-item" data-test="nav-my-invoices" routerLink="/account/invoices">My invoices</a></li>
            <li><a class="dropdown-item" data-test="nav-my-messages" routerLink="/account/messages">My messages</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-test="nav-sign-out" (click)="logout()">Sign out</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" role="menuitem" *ngIf="name && role === 'admin'">
          <a class="nav-link dropdown-toggle" href="#" data-test="nav-admin-menu" id="admin-menu" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            {{name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="admin-menu">
            <li><a class="dropdown-item" data-test="nav-admin-dashboard" routerLink="/admin/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-brands" routerLink="/admin/brands">Brands</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-categories" routerLink="/admin/categories">Categories</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-products" routerLink="/admin/products">Products</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-orders" routerLink="/admin/orders">Orders</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-users" routerLink="/admin/users">Users</a></li>
            <li><a class="dropdown-item" data-test="nav-admin-messages" routerLink="/admin/messages">Messages</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-test="nav-admin-settings" routerLink="/admin/settings">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <span class="dropdown-item" data-test="nav-admin-reports">
                  Reports
                </span>
                <ul class="accordion-body nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" data-test="nav-admin-statistics"
                       routerLink="/admin/reports/statistics">Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  data-test="nav-average-month-sales"
                       routerLink="/admin/reports/average-sales-per-month">Average sales per month</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  data-test="nav-average-week-sales"
                       routerLink="/admin/reports/average-sales-per-week">Average sales per week</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-test="nav-sign-out" (click)="logout()">Sign out</a></li>
          </ul>
        </li>
        <li *ngIf="items && items !== 0" class="nav-item" role="menuitem">
          <a class="nav-link" data-test="nav-cart" aria-label="cart" routerLink="/checkout"> <i class="fa fa-shopping-cart px-1"></i><span
            class='badge rounded-pill bg-danger' data-test="cart-quantity" id='lblCartCount'>{{items}}</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
