<div class="row" *transloco="let t">
  <h2 data-test="page-title">{{ t('pages.overview.category') }}: {{ slug.replace('-', ' ') | titlecase }}</h2>
</div>
<div class="row my-4" *transloco="let t">
  <a class="btn btn-secondary d-block d-md-none btn-block mb-3" data-bs-toggle="collapse" data-test="filters"
     href="#filters"
     role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-filter"></i> {{ t('pages.overview.filters') }}
  </a>
  <div data-test="filters" id="filters" class="collapse d-md-block col-md-3 mb-3">
    <h4 class="grid-title"><i class="fa fa-arrows-up-down"></i> {{ t('pages.overview.sort') }}</h4>
    <hr>
    <form autocomplete=off>
      <div class="input-group mb-3">
        <select data-test="sort" (change)="changeSorting($event)" class="form-select">
          <option value=""></option>
          <option value="name,asc">{{ t('pages.overview.sort-options.name-asc') }}</option>
          <option value="name,desc">{{ t('pages.overview.sort-options.name-desc') }}</option>
          <option value="price,desc">{{ t('pages.overview.sort-options.price-desc') }}</option>
          <option value="price,asc">{{ t('pages.overview.sort-options.price-asc') }}</option>
        </select>
      </div>
    </form>

    <h4 class="grid-title"><i class="fa fa-filter"></i> {{ t('pages.overview.filters') }}</h4>
    <hr>
    <h4>{{ t('pages.overview.by-category') }}:</h4>
    <ng-template #recursiveList let-list>
      @for (category of list;track category) {
        <div class="checkbox">
          <label>@if (category.parent_id) {
            <input type="checkbox" class="icheck"
                   attr.data-test="category-{{category.id}}" name="category_id"
                   value="{{category.id}}" (change)="filterByCategory($event)"/>
          }
            {{ category.name }}</label>
          @if (category.sub_categories.length > 0) {
            <ul>
              <ng-container
                *ngTemplateOutlet="recursiveList; context:{ $implicit: category.sub_categories }"></ng-container>
            </ul>
          }
        </div>
      }
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: categories }"></ng-container>

    <div class="py-2"></div>

    <h4>{{ t('pages.overview.by-brand') }}:</h4>
    @for (brand of brands;track brand) {
      <div class="checkbox">
        <label><input type="checkbox" class="icheck" attr.data-test="brand-{{brand.id}}" name="brand_id"
                      value="{{brand.id}}"
                      (change)="filterByBrand($event)"/> <!--(change)="filterByMediatype($event)"-->
          {{ brand.name }}</label>
      </div>
    }

  </div>
  <div class="col-md-9">
    @if (!results?.data.length) {
      <div data-test="category-empty">
        {{ t('pages.overview.no-results') }}
      </div>
    }
    @if (results) {
      <div class="container" attr.data-test="{{resultState}}">
        @for (item of results.data;track item) {
          <a attr.data-test="product-{{item.id}}" routerLink="/product/{{item.id}}"

             class="card" style="text-decoration: none; color: black;">
            <div class="card-img-wrapper">
              <img class="card-img-top"
                   src="assets/img/products/{{item.product_image.file_name}}">
            </div>
            <div class="card-body">
              <h5 data-test="product-name" class="card-title">
                {{ item.name }}
              </h5>
            </div>
            <div class="card-footer">
              @if (!item.in_stock) {
                <span class="float-start text-danger" data-test="out-of-stock">{{ t('pages.overview.no-stock') }}</span>
              }
              <span class="float-end text-muted">
                   <span data-test="product-price"
                         [ngClass]="{'discounted' : item.discount_price}">${{ item.price }}</span> @if (item.discount_price) {
                <span
                  data-test="product-discount-price"> ${{ item.discount_price }}</span>
              }
        </span>
            </div>

          </a>
        }
      </div>
    }
    <div class="mt-3">
      <app-pagination [currentPage]="currentPage" [lastPage]="results?.last_page"
                      (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
