name: deploy

on:
  push:
    branches: [ main ]

concurrency: production_environment

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sprint: [1, 2, 3, 4, 5, '5-with-bugs']
    env:
      SECRET_GOOGLE_ID: ${{ matrix.sprint == '5' && secrets.SECRET_GOOGLE_ID || '' }}
      SECRET_GOOGLE_SECRET: ${{ matrix.sprint == '5' && secrets.SECRET_GOOGLE_SECRET || '' }}
      SECRET_GITHUB_ID: ${{ matrix.sprint == '5' && secrets.SECRET_GITHUB_ID || '' }}
      SECRET_GITHUB_SECRET: ${{ matrix.sprint == '5' && secrets.SECRET_GITHUB_SECRET || '' }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'
      - name: Install (dev) Dependencies
        run: |
          cd sprint${{ matrix.sprint }}/API
          composer update --no-progress --prefer-dist
      - name: Run Laravel Unit Tests
        run: |
          cd sprint${{ matrix.sprint }}/API
          ./vendor/bin/phpunit
      - name: Install Dependencies
        run: |
          cd sprint${{ matrix.sprint }}/API
          composer update --no-dev --prefer-dist --optimize-autoloader
      - name: Make envfile
        uses: danielr1996/envsubst-action@1.0.0
        env:
          SECRET_DB: ${{ secrets.SECRET_DB }}
          SECRET_DB_USER: ${{ secrets.SECRET_DB_USER }}
          SECRET_DB_PASS: ${{ secrets.SECRET_DB_PASS }}
          SECRET_GOOGLE_ID: ${{ env.SECRET_GOOGLE_ID }}
          SECRET_GOOGLE_SECRET: ${{ env.SECRET_GOOGLE_SECRET }}
          SECRET_GITHUB_ID: ${{ env.SECRET_GITHUB_ID }}
          SECRET_GITHUB_SECRET: ${{ env.SECRET_GITHUB_SECRET }}
        with:
          input: sprint${{ matrix.sprint }}/API/.env_template
          output: sprint${{ matrix.sprint }}/API/.env
      - name: Deploy
        uses: deployphp/action@v1.0.22
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          dep: upload-sprint${{ matrix.sprint }} production
          deployer-version: '6.9.0'
          verbosity: -vvv